<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="<%= product.name %>" />
  <!-- <meta property="og:description" content="<%= product.description %>" /> -->
  <meta property="og:image" content="<%= firstImage %>" />
  <meta property="og:url" content="https://elonatech-official-website.vercel.app/products/<%= product._id %>" />
  <meta property="og:type" content="product" />
  <title><%= product.name %></title>
</head>
<body>
  <h1><%= product.name %></h1>
  <p><%= product.description %></p>
  <img src="<%= firstImage %>" alt="<%= product.name %>">
</body>
</html>
